@{
    ViewData["Title"] = "Home Page";
}

@*style="height:300px; width:512px"*@

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize fw-bold purpleText">Welcome</h1>
        <h2 class="mainSubtitle purpleText">To see our quizes click the link at the bottom</h2>
    </div>
    <img class="mainImage" src="~/images/Quiz.jpeg" />
    <br />
    
    <a class="btn btn-primary" style="float: none; background-color: mediumpurple" asp-area="" asp-controller="QuizAndTest" asp-action="Quizes">Quizes</a>


    <br /><br />

</div>