@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="purpleText">@ViewData["Title"]</h1>

<p>This site has been made by Özgür Aslan.</p>
<p>GitHub link of this project: <a href="https://github.com/ozgur1aslan/QuizAndTestSite" target="_blank" rel="noopener noreferrer">https://github.com/ozgur1aslan/QuizAndTestSite</a></p>
