@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize fw-bold purpleText">User Menu</h1>
        <h2 class="mainSubtitle purpleText">Here are some user options</h2>
    </div>
    <img class="mainImage" style="height:400px; width:400px" src="~/images/Result.jpg" />
    <br />
    <a class="btn btn-primary mt-1 purpleButton whiteText" asp-area="" asp-controller="User" asp-action="ResultList">List your Quiz Results</a>
    

    <br /><br />

</div>