@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<ResultModel>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="purpleText">Your Quiz Results</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="User" asp-action="Index" class="btn btn-primary purpleButton">
                <i class="bi bi-plus-circle"></i> &nbsp; Back to the Menu
            </a>
        </div>
    </div>
    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Date and Time
                </th>
                <th>
                    Quiz Id
                </th>
                <th>
                    Score
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="50%">
                        @obj.Date
                    </td>
                    <td width="50%">
                        @obj.QuizModelId
                        @*@obj.Quizes.Where(x => x.Id == obj.QuizModelId).FirstOrDefault().Category*@
                    </td>
                    <td width="30%">
                        @obj.Score
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>