@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize fw-bold purpleText">Admin Menu</h1>
        <h2 class="mainSubtitle purpleText">Here are some admin options</h2>
    </div>
    <img class="mainImage" style="height:362px; width:512px" src="~/images/Admin.jpg" />
    <br />
    <a class="btn btn-primary" style="float: none; background-color: mediumpurple" asp-area="" asp-controller="Admin" asp-action="QuizList">Quiz Menu</a>


    <br /><br />

</div>
